body{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    margin: 1em 1em 1em 1em;
    padding: 30px;
}

p {
    padding: 5px;
    margin: 10px;
}

.accord {
    margin: 1em 0 0 0;
    padding: 18px;
    background-color: rgb(99, 99, 99, 1.3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s; 
}

.active, .accord:hover {
    background-color: #ccc;
}

.accord:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    margin: 5px;
    padding: 0 10px;
    background-color: rgba(99, 99, 99, 0.6);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion{
    width: 80%;
    max-width: 600px;
}

#change{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 5px 20px 10px 5px;
}

#toggle{
    transform: scale(1.2);
    cursor: pointer;
}

.custom-control-input:checked ~ #toggle:before {
    border-color: rgb(99, 99, 99);
    background-color: rgb(99, 99, 99);
}
