<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <!-- App CSS -->
        <link rel="stylesheet" href="{% static 'css/lab7_style.css' %}" />
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">

        <!-- Install jQuery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- App JavaScript -->
        <script src="{% static 'js/lab7_script.js' %}"></script>

        <!-- Website Page Title -->
        <title>PPW Story 7 | Primo Giancarlo Uneputty</title>

    </head>

    <body style="background-color: rgb(255, 255, 255);">
        
        <div class="custom-control custom-switch" id="change">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" onchange="change()">
            <label class="custom-control-label" for="customSwitch1" id="toggle">Change Theme</label>
        </div>
    
        <div>
            <h1>Hi! I'm Primo Giancarlo!</h1>
        </div>
    
        <div class="accordion">
            <button class="accord" onclick="accordion()"><strong>Activity</strong></button>
            <div class="panel">
                <p><strong>Eat</strong></p>
                <p><strong>Sleep</strong></p>
                <p><strong>Die</strong></p>
            </div>

            <button class="accord" onclick="accordion()"><strong>Experience</strong></button>
            <div class="panel">
                <p><strong>Perlap RKF 2019</strong></p>
            </div>

            <button class="accord" onclick="accordion()"><strong>Achievements</strong></button>
            <div class="panel">
                <p><i>This section is empty</i></p>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>

    </body>

</html>
